body {
    background-color: #ff8615
}

#formbox {
    position: relative;
    display: inline-block; 
    padding: 32px 48px 0px 48px; 
    border: 1px; 
    bottom: 100px;
}

.logo_hu {
    position: relative;
    left: 20px;
    bottom: 30px;
}

.logo_demeern {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

@media screen and (max-width: 1245px) {
    #formbox {
        position: relative;
        display: inline-block; 
        padding: 32px 60px 0px 60px; 
        border: 1px; 
        bottom: 50px;
    }

    .logo_hu {
        position: relative;
        left: 20px;
        width: 300px;
    }

    .logo_demeern {
        width: 125px;
        height: 125px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 413px) {
    #btn_login {
        right: 20px;
    }
}


