body {
    background-color: #ff8615
}

#formbox {
    display: inline-block; 
    padding: 32px 48px 0px 48px; 
    border: 1px; 
    margin-top: 100px; 
}

.logo_hu {
    position: relative;
    left: 20px;
    bottom: 30px;
}


