body {
    background-color: #ff8615
}

.logo_demeern {
    position: relative;
    height: 180px;
    width: 180px;
    left: 10px;
    top: 10px;
}

#dashboard_btn {
    width: 170px;
}

#profiel_btn {
    width: 170px;
}

#team_btn {
    width: 170px;
}

#logout_btn {
    width: 170px;
}

.titlesleft {
    position: relative;
    top: 10px;
    left: 10px;
    width: 20%;
    float: left;
}

.titlesright {
    position: relative;
    top: 10px;
    left: 75px;
    width: 20%;
    float: left;
}

/* Mobile responsive  */
@media screen and (max-width: 990px) {
    .logo_demeern {
        position: relative;
        height: 180px;
        width: 180px;
        left: 0px;
        top: 10px;
    }
    
    .titlesleft {
        position: relative;
        top: 10px;
        left: 10px;
        width: 40%;
        float: left;
    }
    
    .titlesright {
        position: relative;
        top: 10px;
        left: 60px;
        width: 40%;
        float: left;
    }

    nav {
        width: 100%;
    }
}

p {
    color: white;
}

/* .mapouter {
    position:relative;text-align:right;height:500px;width:600px;
}

.gmap_canvas {
    overflow:hidden;background:none!important;height:500px;width:600px;
} */