body {
    background-color: #ff8615
}

.logo_demeern {
    position: relative;
    height: 180px;
    width: 180px;
    left: 10px;
    top: 10px;
}

#dashboard_btn {
    width: 170px;
}

#profiel_btn {
    width: 170px;
}

#team_btn {
    width: 170px;
}

#logout_btn {
    width: 170px;
}

.titlesleft {
    position: relative;
    top: 10px;
    left: 10px;
    width: 40%;
    float: left;
}

.titlesright {
    position: relative;
    top: 10px;
    left: 75px;
    width: 40%;
    float: left;
}

/* Pop-up voor de extra informatie van teamgenoot */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  

  .modal-content {
    background-color: #424242;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  table.teammateTable tr:hover {
    background-color: #424242;
    transition: all 1s ease;
    cursor: pointer;
  }

  table.teammateTable .tableheading:hover {
    background-color: #ff8615;
    transition: all 1s ease;
    cursor: default;
  }

#frame {
    display: grid;
      grid-template-columns: 1fr 1fr; /*2 columns van dezelfde verhouding, beide 50% van je scherm */
      grid-template-rows: 2fr;
      grid-column-gap: 20px; /* ruimte tussen columns */
      grid-row-gap: 40px; /* ruimte tussen een row */
    }

    #myTeam { grid-column: 1; grid-row: 1;} 

    #teammateList { grid-column: 2; grid-row: 1;} 

/* Mobile responsive  */
@media screen and (max-width: 990px) {
    .logo_demeern {
        position: relative;
        height: 180px;
        width: 180px;
        left: 0px;
        top: 10px;
    }

    .titlesleft {
        position: relative;
        top: 10px;
        left: 10px;
        width: 47%;
        float: left;
    }
    
    .titlesright {
        position: relative;
        top: 10px;
        left: 30px;
        width: 40%;
        float: left;
    }

    #frame {
        display: grid;
          grid-template-columns: 1fr; 
          grid-template-rows: 2fr;
          grid-row-gap: 40px; /* ruimte tussen een row */
        }
    

    #teammateList { 
        grid-column: 1; grid-row: 2;
        width: 100%;
    } 

    #teammateTable {
        position: relative;
        left: 10px;
    }

    #teamVerlaten {
        left: 10px;
        bottom: 10px;
    }

    nav {
        width: 100%;
    }
}

p {
    color: white;
}